@import "../../common/variables.scss";
@import "../../common/mixins.scss";

.studyBoard {
  width: 1000px;
  padding: 80px 0;
  h1 {
    color: $main-color;
    text-align: center;
    margin-bottom: 150px;
  }
}

.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 300px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background-color: $line-color;
    outline: none;
    &:focus {
      border: 1px solid $main-color;
      background-color: white;
    }
  }
  .btns {
    .createBtn {
      @include filled-button(200px, white, $main-color);
      a {
        color: white;
      }
    }
    .goMyRoomBtn {
      @include none-button($text-color);
      opacity: 1;
      font-size: 15px;
      font-weight: 600;
      margin-left: 30px;
    }
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  .tagItem {
    @include unfilled-button($main-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 10px;
    width: fit-content;
    button {
      @include none-button($main-color);
      margin-left: 10px;
    }
  }
}

.rooms {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 30px 0;
  .room {
    @include white-box;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 0;
    height: 300px;
    .imgBox {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      max-width: inherit;
      img {
        width: 100%;
      }
    }
    .details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      .mainDetails {
        display: flex;
        justify-content: space-between;
        .roomName {
          width: 150px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-weight: 700;
        }
        .roomNumber {
          opacity: 0.6;
        }
      }
      .tagBox {
        height: 20px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        white-space: nowrap;
        opacity: 0.6;
        span{
            margin-right: 10px;
        }
      }
    }
  }
}

.noRoom {
  margin: 30px 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  h2 {
    margin-bottom: 50px;
  }
  button {
    @include filled-button(200px, white, $main-color);
    a {
      color: white;
    }
  }
}

.pagination{
    padding: 40px;
}
