@import "../common/variables.scss";
@import "../common//mixins.scss";

.footer {
  padding: 2rem 0;
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.bodyWrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;
}

.mainContainer {
  @include flex-center;
  flex-direction: column;
  min-height: calc(100vh - #{$footer-height});
}

.isNavBar {
  padding-top: 72.39px;
}
