@import "../common/mixins.scss";

.modalOverlay {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
  width: 500px;
  height: 600px;
}

.modal {
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.close {
  text-align: right;
}
