@import "../common/variables.scss";

.navbar {
  padding: 1rem;
  background-color: $main-color;
  ul {
    li {
      display: inline;
      list-style: none;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        &:hover {
          color: brown;
        }
      }
    }
  }
}
