@import "../common/variables.scss";
@import "../common/mixins.scss";

.navbar {
  font-size: 0.9rem;
  padding: 1.2rem 4rem;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.01);

  ul {
    @include flex-center;

    li {
      vertical-align: middle;
      display: inline;
      list-style: none;
      margin-right: 2rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      a {
        &:hover {
          font-weight: bold;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        }
      }
    }

    .logo {
      width: 100px;
      height: 34px;
      background: url("/images/logo.png") no-repeat;
      background-size: 60%;
      margin-right: 1.2rem;
      cursor: pointer;
    }

    .menu {
      flex-grow: 1;
    }

    .user {
      img {
        margin-right: 0.8rem;
        // vertical-align: middle;
      }

      li {
        vertical-align: middle;
      }
    }
  }
}
