@import "../common/variables.scss";

.container {
  padding: 1.6rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: $division-line;
  span,
  p, div {
    display: flex;
    justify-content: center;
  }
  .question {
    font-weight: bold;
    text-align: start;
    padding: 5px 15px;
    width: 600px;
    word-wrap: break-word;
  }
}

.toggleContainer {
  display: none;

  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .toggleBtn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .toggleBtn {
    outline: 0;
    display: block;
    width: 3.5em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      top: 1px;
      width: 35%;
      height: 90%;
    }

    &:after {
      left: 1px;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .toggleBtn:after {
    left: 60%;
  }
}

// 버튼 효과
.toggleContainer {
  + .toggleBtn {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }

  &:checked + .toggleBtn {
    background: $main-color;
  }
}
