@import "../main.scss";
@import "../../common/mixins.scss";
@import "../../common/variables.scss";
@import "../../layout/pagination.module.scss";
.body {
  @include flex-center;
  flex-direction: column;
  width: 1000px;
  max-width: 1000px;
  margin-top: 2rem;

  button {
    outline: none;
    border: 1px;
    background-color: transparent;
  }
  li {
    list-style: none;
  }
}

.mainContainer {
  margin-top: 2rem;
  width: 100%;
  .rowContainer {
    @include flex-center;
    align-items: flex-start;
    .ContainerL {
      width: 400px;
      margin-right: 1rem;
      .QuestionContainer {
        margin-bottom: 1.7rem;
        width: 100%;
        height: 83%;
        background: white;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        .QuestionTitle {
          padding: 1rem 1.5rem;
          border-bottom: $division-line;
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 10%;
          span {
            margin-top: 3.5px;
            font-size: 1.1rem;
            font-weight: bold;
          }
          select {
            height: 2rem;
            font-size: 1rem;
            border: 0;
            outline: none;
            cursor: pointer;
          }
        }
        .QuestionList {
          width: 100%;
          height: 90%;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
      .addContainer {
        direction: flex;
        flex-direction: row;
        width: 100%;
        height: 12%;
        position: relative;
        background-color: white;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
        input {
          border: none;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        .send {
          position: absolute;
          right: 1.5rem;
          cursor: pointer;
          &:hover {
            transform: rotate(15deg);
            transition: transform 0.1s linear;
          }
          :global(*) {
            color: $gray-color;
          }
        }
      }
      .pagination {
        padding: 1rem;
        padding-bottom: 1.5rem;
        height: 5%;
        font-size: 0.8rem;
      }
    }
    .ContainerR {
      padding-left: 10px;
      width: 400px;
      height: 591.2px;
      // background-color: blue;
      .selectedContainer {
        width: 100%;
        height: 100%;
        background: white;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        .selectedTitle {
          // background-color: beige;
          padding: 1rem 1.5rem;
          border-bottom: $division-line;
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 10%;
          > span {
            font-size: 1.1rem;
            font-weight: bold;
          }
          .length {
            color: $main-color;
            font-weight: bold;
          }
        }
        .selectedList {
          overflow-y: auto;
          overflow-x: hidden;
          width: 100%;
          height: 90%;
          @include scrollbar;
          // background-color: blue;
        }
      }
    }
  }
}

#submitBtn {
  font-weight: bold;
  margin-top: 2.5rem;
  width: 284px;
  height: 47px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: $main-color;
  color: white;
  border: 1px;
  cursor: pointer;
}

.question {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem 1.5rem;
  padding-left: 0;
  font-size: 0.9rem;
  position: relative;
  cursor: pointer;
  border-bottom: $division-line;

  .questionField {
    // padding: 0 2.5rem;
    text-align: center;
    color: $main-color;
    font-weight: bold;
  }
  button {
    position: absolute;
    right: 1.5rem;
    :global(*) {
      color: $gray-color;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
    transition: all 0.1s ease;
  }
  // &:nth-child(even) {
  //   background-color: rgba(0, 0, 0, 0.03);
  // }
}
