@import "../main.scss";
@import "../../common/mixins.scss";
@import "../../common/variables.scss";

.closeBtnBox {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  span{
    margin-right:1rem;
    font-size: 1.1rem;
  }
}

.container {
  @include flex-center;
  .interviewContainer {
    border-radius: 12px;
    background: white;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.11);
    position: static;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    .top{
      display: flex;
      flex-direction: row;
      width: 60vw;
      height: 33.75vw;
      .selectContainer{
        width:10%;
        height: 100%;
        // background-color: mediumspringgreen;
        .changeBtn {
          height:100%;
          display: flex;
          flex-direction: column;
          span {
            cursor: pointer;
            margin:auto;
            font-size: 1.5rem;
            .icon{
              font-size:.9rem;
            }
          }
        }
      }
      .videoContainer{
        // background-color: aqua;
        width:90%;
        height:100%;
        .video{
          width:100%;
          height:100%;
          .video1 {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #EFF3F6;
            margin:auto;
            text-align: center;
            padding: 30px 30px;
            height: 100%;
            width: 100%;
          }
          .video2 {
            margin:auto;
            height: 100%;
            width: 100%;
          }
          .video3 {
            height: 33.75vw;
            width: 60vw;
            text-align: center;
            img{
              margin: auto;
              height: 95%;
            }
          }
          .video4 {
            height: 33.75vw;
            width: 60vw;
            display: flex;
            justify-content: center;
            img{
              margin: auto;
              height: 30%;
            }
          }
        }
      }
    }
  }
  .btnContainer {
    padding-left: 7rem;
    padding-right: 3.3rem;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3rem;
    span {
      cursor: pointer;
    }
  }
}
.tooltip span{
  visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
  width: 150px;  
  height:32px;           /* 툴팁 영역의 넓이를 설정 */
  background-color: #7D7D7D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;       /* 절대 위치를 사용 */
  z-index: 1;
  right: 80%;
}
.tooltip span::after{
  content: " ";             /* 정사각형 영역 사용 */
  position: absolute;       /* 절대 위치 사용 */
  border-style: solid;
  border-width: 5px;  
  top: 50%;                 /* 사각형 영역이 중앙에 오도록 위치 */
  left: 100%;               /* 왼쪽에서 100% 위치에 오도록 위치 */
  margin-top: -5px;   
  border-color: transparent transparent transparent #7D7D7D;   /* 테두리 넓이를 5px 로 설정 */
}
.tooltip:hover span{
  visibility: visible;
}
/*--*/
.tooltipdown{
  position: relative;
}
.tooltipdown span{
  font-size: .9rem;
  visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
  width: 300px;  
  height:32px;           /* 툴팁 영역의 넓이를 설정 */
  background-color: #7D7D7D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;       /* 절대 위치를 사용 */
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -150px;
}
.tooltipdown span::after{
  content: " ";             /* 정사각형 영역 사용 */
  position: absolute;       /* 절대 위치 사용 */
  border-style: solid;
  border-width: 5px;  
  bottom: 100%;
  left: 50%;
  margin-left: -5px;  
  border-color: transparent transparent #7D7D7D transparent ;   
}
.tooltipdown:hover span{
  visibility: visible;
}