@import "../main.scss";


.closeBtnBox {
  display: flex;
  justify-content: end;
  margin: 1rem 0;
  .closeBtn {
    margin-right: 3rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  .videoContainer {
    position: static;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    video {
      position: relative;
      width: 60vw;
    }
    .changeBtn {
      position: absolute;
      span {
        font-size: 3rem;
        color: red;
      }
    }
    .btnContainer {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}