@import "../common/variables.scss";
@import "../common/mixins.scss";

.questionListRow {
  border-bottom: $division-line;
  display: flex;
  flex-direction: column;
  .questionArea {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px 0;
    &:first-child {
      text-align: center;
    }
  }
  .contents {
    span {
      padding: 5px 0;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: 700;
    .btns {
      display: flex;
      button {
        @include none-button($text-color);
        font-size: 18px;
        margin-left: 15px;
      }
    }
  }
  &:last-child {
    border-bottom: none;
  }
}
