
.mainContainer{
  display: flex;
  justify-content: space-around;
  .videoContainer {
    display: inline;
    width: 60vw;
    .faces {
      display: inline;
    }
    .btnBar {
      display: inline;
      display: flex;
      justify-content: space-between;
    }
  }
  .chat {
    display: inline;
    width: 30vw;
  }
}