@import "../common/mixins.scss";


.mainContainer {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainSection {
    display: flex;
    justify-content:center;
    align-items:center;
    min-width: 1480px;
    .videoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      height: 80vh;
      min-height: 708px;
      min-width: calc(1480px - 24rem);
      .screens {
        margin-right: 1rem;
        span{
          display: inline-flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .faces {
        width: calc(1480px - 24rem);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        span{
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          overflow-x: hidden;
        }
      }
    }
    .subContainer {
      padding: 20px;
      width: 24rem;
      min-height: 708px;
      height: 80vh;
      background: white;
      box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.11);
      border-radius: 12px;
      .subContainerTopBar {
        display: flex;
        justify-content: space-between;
        .chatMenuBtn {
          font-size: 1.3rem;
          border: 2px;
          border-right: 1px;
          border-bottom: 0;
          border-style: solid;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          cursor: pointer;
        }
        .letterMenuBtn {
          font-size: 1.3rem;
          border: 2px;
          border-left: 1px;
          border-bottom: 0;
          border-style: solid;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          cursor: pointer;
        }
        .selectedMenuBtn {
          background-color: #BDECB6;
        }
        .timer {
          font-size: 1.3rem;
        }
      }
      .chatContainer{
        width: 100%;
        min-height: calc(708px - 40px - 2rem);
        height: calc(80vh - 40px - 2rem);
        border: 2px;
        border-style: solid;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        .chat {
          width: 100%;
          height: calc(100% - 3rem);
          overflow-y: auto;
          word-break: break-all;
          white-space: pre-wrap;
        }
        .chatInput {
          direction: flex;
          flex-direction: row;
          height: 3rem;
          padding-top: .5rem;
          input {
            padding: 1rem;
            width: 90%;
            height: 100%;
            font-size: 1rem;
            background: white;
            // box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.11);
            border-radius: 10px 0 0 10px;
            border: 1px;
            background-color:gainsboro;
          }
          button {
            background:  white;
            border-radius: 0 10px 10px 0px;
            box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.11);
            float: right;
            width: 10%;
            height: 100%;
            outline: none;
            border: 1px;
            background-color:gainsboro;
            cursor: pointer;
          }
        }
      }
      .letterContainer{
        width: 100%;
        min-height: calc(708px; - 40px - 2rem);
        height: calc(80vh - 40px - 2rem);
        border: 2px;
        border-style: solid;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        .letter{
          width: 100%;
          height: 100%;
          overflow-y: auto;
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
    }
  }
  .btnBar {
    margin-top: 2rem;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    .eachBtn {
      cursor: pointer;
      span {
        padding-right: 0.1rem;
      }
      select {
        height: 2rem;
        width: 1.6rem;
        font-size: 1rem;
      }
    }
    .nonCursor {
      cursor: not-allowed;
    }
  }
}
