@mixin back {
  background-color: blue;
}

@mixin what($word) {
  @if $word == "odd" {
    background-color: purple;
  } @else {
    background-color: yellow;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
