//color
$background-color: #eff3f6;
$light-color: rgb(143, 200, 202);
$main-color: #6bbfca;
$text-color: rgb(32, 32, 32);
$yellow-color: #fbd56d;
$red-color: #e86c6c;
$purple-color: #7281d7;
$google-color: #4285f4;
$kakao-color: #fee500;
$line-color: #ece9e9;

//size
$footer-height: 80.8px;

//multi-set(team-space)
$division-line: 2px solid $line-color;
$box-shadow: 0 0 10px rgba(218, 215, 203, 0.25);
