//color
$background-color: rgb(249, 249, 249);
$light-color: rgb(143, 200, 202);
$main-color: rgb(107, 191, 202);
$text-color: rgb(32, 32, 32);

//size
$footer-height: 80.8px;

//multi-set(team-space)
$division-line: 2px solid rgb(230, 230, 230);
$box-shadow: 0 0 10px rgba(218, 215, 203, 0.25);
